
@page "{vinmonopoletId?}"
@model Wines.AddWine
@{
    ViewData["Title"] = "AddWine";
}
<h2>Add wine</h2>
<div>
    <form method="get">
        @Html.TextBox("vinmonopoletId")
        <input type="submit">
    </form>
    @if(@Model.Data != null){
        <ul>
            <li>@Model.Data.Name</li>
            <li>@Model.Data.Vintage</li>
            <li>@Model.Data.Producer</li>
            <li>@Model.Data.Price</li>
            <li>@Model.Data.Country</li>
        </ul>
    }
</div>

